html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font: 14pt Helvetica;
}

.wrapper {
  margin: 50px auto;
}

.content {
  width: 100%;
  text-align: center;
}

.content div {
  -webkit-transition: all .2s linear 0s;
  -moz-transition: all .2s linear 0s;
  -o-transition: all .2s linear 0s;
  -ms-transition: all .2s linear 0s;
  transition: all .2s linear 0s;
}

.loading-div {
  visibility: hidden;
  opacity: 0;
}

.url-div {
  visibility: hidden;
  opacity: 0;
}

.content[state="uploading"] .loading-div {
  visibility: visible;
  opacity: 1;  
}

.content[state="uploading"] .input-div {
  visibility: hidden;
  opacity: 0;
}

.content[state="show-url"] .url-div {
  visibility: visible;
  opacity: 1;
}
